{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

    {% block extra_head %}{% endblock %}
</head>
<body class="container">

<div class="col-md-1"></div>
<div class="col-md-10">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="alert alert-danger" role="alert">
    {% for message in messages %}
      <li><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>  {{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block page_body %}{% endblock %}
</div>
<div class="col-md-1"></div>

</body>
</html>