{% extends "base.html" %}

{% block page_title %}Create a new poll{% endblock %}

{% block page_body %}

<h1>Create a new poll</h1>
<div class="col-md-6">
    <form method=post action="{{ url_for('create_poll') }}">
    {{ form.csrf_token }}
    {{ render_field(form.title) }}
    {{ render_field(form.choice1) }}
    {{ render_field(form.choice2) }}
    {{ render_field(form.choice3) }}
    {{ render_field(form.choice4) }}
    {{ render_field(form.choice5) }}
  <p><input type=submit value="Create poll" class="btn btn-default">
  </form>
</div>
<div class="col-md-6"></div>
{% endblock %}